<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Note Information: {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="danger" (click)="showDeleteAlert(this.name)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="close()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
  </ion-header>
  <form [formGroup]="detailForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input name="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Note</ion-label>
        <ion-textarea name="note" formControlName="note" rows="10"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit" *ngIf="edited" color="success" expand="block" (click)="save()">
      Save Changes
    </ion-button>
  </form>
</ion-content>
